/* Base */
*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    line-height: 1;
    color: var(--color-primary-dark);
    background-color: var(--color-primary-light);
    list-style-type: none;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
}

p {
    color: var(--color-primary-dark);
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    display: inline-block;
}