@import './utilis/fonts';

@import './utilis/variables';

@import './base';

@import './utilis/utiles.scss';

@import './componetns/buttons';

@import './componetns/links';

@import './componetns/carusel';

@import './componetns/title-blue';

@import './loyouts/container';

@import './loyouts/header';

@import './loyouts/hero';

@import './loyouts/reincornate';

@import './loyouts/choose';

@import './loyouts/procedure';

@import './loyouts/\ contact';

@import './loyouts/footer';

@import './loyouts/modal';

@import './loyouts/gradient.scss';

