:root{
    --color-primary-dark:rgba(1, 28, 68, 1) ;
    --color-primary-light: rgba(255, 255, 255, 1);
    --brend-color:rgba(43, 127, 255, 1); 
    --consent-color: rgba(116, 114, 114, 1);
}
    /* unnecessary */
    .visually-hidden{
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }
    /* Base */
    p{
    color: var(--color-primary-dark);
    }
    ul{
    list-style-type: none;
    }
    /* button */
.button {
    color:rgba(255, 255, 255, 1);
background-color: var(--brend-color);
border-radius: 32px;
border: 2px solid var(--brend-color);
}
.button:hover{
    color: var(--color-primary-dark);
    background-color: transparent;
}
/* link */
.link{
    color:var(--color-primary-dark) ;
}
.link:hover{
    color: var(--brend-color);
}
/* title */
.hero-title{
   color: var(--brend-color);
}
.section-title{
     color: var(--color-primary-dark);
}
.title-blue{
    color: var(--brend-color);
}
/* text */
.white-text{
    color: var(--color-primary-light);
}
.consent-text{
color:var(--consent-color) ;
}
.info-text{
color: rgba(255, 255, 255, 1);
background-color: var(--color-primary-dark);
border-radius: 32px;
border: 2px solid var(--consent-color);
width: 310;
height: 52;
top: 20px;
left: 20px;
opacity: 1;
}
.info-text:hover {
color: rgba(255, 255, 255, 1);
background-color: var(--consent-color);
border-radius: 32px;
border: 2px solid var(--consent-color);
width: 310;
height: 52;
top: 20px;
left: 20px;
opacity: 1;
}



