.contact-section {
    padding-bottom: 96px;
}
.maps-title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
    margin-bottom: 48px;
    color: var(--color-primary-dark);
}
.contakt-conteiner {
    display: flex;
    gap: 32px;
}
.contakt-map {
    flex-shrink: 0;
    border: 0;
    border-radius: 16px;
}
.contack-gradient {
    position: relative;
    max-width: 423px;
    width: 100%;
    max-height: 481px;
    height: 100%;
    color: var(--color-primary-light);
    background-color: var(--color-primary-dark);
    border-radius: 48px;
    background-image: url(../images/background-modal.png);
    overflow-y: auto;
    padding: 45px 57px;
}
.info-text-free {
    line-height: 1.3;
    color: var(--color-primary-light);
    margin: 0 auto;
    max-width: 300px;
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 32px;
}
.form-field {
    margin-bottom: 16px;
}
.form-label {
    display: block;
}
.form-input {
    color: var(--color-primary-light);
    padding: 18px 32.85px;
    max-width: 310px;
    width: 100%;
    font-size: 13px;
    line-height: 1.3;
    border: 1px solid var(--consent-color);
    border-radius: 16px;
    background-color: transparent;
    height: 52px;
}
.form-input:focus {
    background-color: var(--consent-color);
    border-color: var(--consent-color);
    outline: none;
}

.form-input::placeholder {
    color: var(--color-primary-light);
    font-size: 13px;
    line-height: 1.3;
}

.form-input:focus::placeholder {
    color: var(--color-primary-light);
}

.form-button {
    display: block;
    margin: 0 auto;
    font-weight: 600;
    margin-bottom: 8px;
    width: 281px;
    height: 53px;
}

.form-terms {
    margin: 0 auto;
    max-width: 303px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-align: center;
    color: var(--consent-color);
}

.form-link {
    color: var(--consent-color);
    text-underline-offset: 2px;
}
/* .contakt-forma {
position: relative;
    max-width: 482px;
    width: 100%;
    max-height: 422px;
    height: 100%;
    color: var(--color-primary-light);
    background-color: var(--color-primary-dark);
    border-radius: 48px;
    background-image: url(./images/background-modal.png);
    padding-top: 44px;
    padding-left: 144px;
    padding-right: 144px;
    overflow-y: auto;
}  */