/* FOOTER */
footer {
    background-image: url(../images/background.png);
    padding: 32px 0;
    background-color: var(--color-primary-dark);
    position: relative;
}

.footer-container {
    display: flex;
    gap: 16px;
}

.footer-nav,
.footer-address {
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    gap: 16px;
}

.address-list,
.address-info {
    flex-grow: 1;
}

.section-info {
    padding-top: 96px;
}

.white-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    text-decoration: none;
    color: var(--color-primary-light);
}

.white-text:hover {
    color: var(--brend-color);
}

.footer-logo,
.footer-menu {
    flex-grow: 1;
}

.icom {
    display: flex;
    padding-top: 16px;
    gap: 24px;
}

.address-icom {
    fill: var(--color-primary-light);
}

.address-icom :hover {
    fill: var(--brend-color);
}

.footer::after {
    position: absolute;
    background-image: url(../images/maslo-efirne.png);
    width: 217px;
    height: 152px;
    right: 0;
    bottom: 0;
    /* right: -31px;
bottom: -61px;  */
    background-repeat: no-repeat;
    content: '';
}