.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 16px;

    @media screen and (min-width:$bp-desktop) {
     padding-top: 32px;
     height: 106px;
     backdrop-filter: blur(10px);
     background: rgba(255, 255, 255, 0.25);
     }

   &_container {
            display: flex;
            align-items: center;
            max-width: 1239px;
            gap: 40px;
           
        }

        &_nav {
display: flex;
    align-items: center;
    flex-grow: 1;
    gap: 40px;   
        }
                &_menu { 
           display: none;

        @media screen and (min-width:$bp-tablet) {
            display: none;
        }

                    @media screen and (min-width:$bp-desktop) {
                    display: flex;
                    align-items: center;
                    gap: 56px;
                    flex-grow: 1;
                    justify-content: center;
                   
                }         
                }
                                &_web {
                                    display: none;

                                    @media screen and (min-width:$bp-tablet ) {
                                    display: none;
                                    }

                                    @media screen and (min-width:$bp-desktop ) {
                                    display: flex;
                                    align-items: center;
                                    gap: 32px;
                                    
                                }
}
&_burger{
    background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
   right: 20px;
    fill: var(--color-primary-light);

    @media screen and (min-width: $bp-tablet) {
background-color: transparent;
    border: none;
    width: 24px;
    height: 24px;
    right: 20px;
    fill: var(--color-primary-light);
    }

    @media screen and (min-width: $bp-desktop) {
        display: none;
    }
}
}