/* hero */
.hero {

background-image: url(../images/Gradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
    padding: 65px 0;


    @media screen and (min-width: $bp-tablet) {
    
    }
  
    @media screen and (min-width: $bp-desktop){
    padding: 205px 0;
}

&__container {
display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;


    @media screen and (min-width: $bp-tablet) {
    
    }

    @media screen and (min-width: $bp-desktop) {
    display: flex;
    justify-content: space-between;
    padding: 48px 80px;
    margin: 0 auto;
    margin-bottom: -30px;
}
}
&__text {
    display: flex;
    align-items: center;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0 auto;
       

        @media screen and (min-width: $bp-tablet) {

        }

    @media screen and (min-width: $bp-desktop) {
    align-items: flex-start;
    
}
}
&__small {
    text-align: center;
font-size: 12px;
    line-height: 1.5;
    margin: 0;

    @media screen and (min-width: $bp-tablet) {
    }

    @media screen and (min-width: $bp-desktop) {
    display: contents;
    font-size: 18px;
    margin-bottom: 16px;
    text-align: left;
    }
}
&__title {
    display: flex;
    flex-direction: row;
    text-align: center;
    color: var(--brend-color);
    font-size: 54px;
    font-weight: 700;
    line-height: 0.8;
    margin: 10px auto;
    padding-bottom: 32px;
    margin: 0 auto;
    // white-space: nowrap;
    

    @media screen and (min-width: $bp-tablet) {
    
    }
    
    @media screen and (min-width: $bp-desktop) {
    font-family: 'Play', sans-serif;
    margin-bottom: 40px;
    font-size: 140px;
    text-align: left;
    align-items: flex-start;
    flex-direction: column;
     margin-left: 212px;
    line-height: 0.8;
     margin: 0;
     max-width: 529px;
    }
}
&__consul {
text-align: center;
padding-top: 8px;
font-size: 11px;
max-width: 186px;
margin: 0 auto;
line-height: 1.5;
color: var(--consent-color);

@media screen and (min-width: $bp-tablet) {
text-align: center;
padding-top: 9px;
font-size: 11px;
max-width: 186px;
margin: 0 auto;
}

    @media screen and (min-width: $bp-desktop) {
    font-size: 12px;
    max-width: 238px;
    margin: 0;
    }
}
}