.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgb(189, 169, 169);
    transform: translateX(100%);
   transition: transform 0.3s;
   z-index: 99;
    @media screen and (min-width: $bp-desktop) {
        display: none;
    }

    &.is-open{
    transform: translateX(0);
    @media screen and (min-width: $bp-desktop) {
display: none;
    }
    }
    &__btn-close{
                position: absolute;
                top: 16px;
                right: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0;
                fill: transparent;
                stroke: var(--color-primary-dark);
                background-color: transparent;
                border: none;
                cursor: pointer;
    }
    &__logo{
        margin-top: 16px;
   margin-bottom: 30px;
   margin-left: 16px;
  
   
    }
        &__list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;

        }
                &__link{
                color: var(--color-primary-dark);
                text-align: left;
                
                }
                &__web{
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    gap: 16px;
                    
                }
                &__contact{
                fill: var(--brend-color);
                
                }
}
              