.modal {
    position: relative;
    max-width: 496px;
    width: 100%;
    max-height: 681px;
    height: 100%;
    color: var(--color-primary-light);
    background-color: var(--color-primary-dark);
    border-radius: 48px;
    background-image: url(../images/background-modal.png);
    padding: 4px 48px;
    overflow-y: auto;
    margin: 8px;
    @media screen and (min-width: $bp-desktop) {
        position: relative;
            max-width: 723px;
            width: 100%;
            max-height: 681px;
            height: 100%;
            color: var(--color-primary-light);
            background-color: var(--color-primary-dark);
            border-radius: 48px;
            background-image: url(../images/background-modal.png);
            padding: 4px 144px;
            overflow-y: auto;
    }
    &__now-wrap{
        white-space: nowrap;
    }
          &__btn-close {
              position: absolute;
              top: 42px;
              right: 42px;
              display: flex;
              align-items: center;
              justify-content: center;
              padding: 0;
              fill: transparent;
              stroke: var(--color-primary-light);
              background-color: transparent;
              border: none;
              cursor: pointer;
          }


                &__title {
                    text-align: center;
                    font-weight: 700;
                    font-size: 53px;
                    margin-bottom: 40px;

                    @media screen and (min-width: $bp-desktop) {
                        font-weight: 700;
                        font-size: 64px;
                    }
                }
                                &__form-field {
                                    display: flex;
                                    justify-content: center;
                                    margin-bottom: 24px;
                                }
                                      &__button {
                                      display: block;
                                      margin: 0 auto;
                                      font-weight: 600;
                                      margin-bottom: 8px;
                                      max-width: 281px;
                                      height: 53px;
                                 }
}

