.procedure {
    margin-bottom: 96px;

&__title {
    font-weight: 700;
    font-size: 64px;
    text-align: center;
}

&__coneiner {
    display: flex;
    gap: 32px;
    align-items: center;
    justify-content: space-between;
}

&__list {
    display: flex;
    gap: 16px;
}
&__card {
    flex-basis: calc(100% - 32px / 3);
}


}