.reincarnation-images {
display: none;

@media screen and (min-width: $bp-tablet) {
display: none;
}

    @media screen and (min-width: $bp-desktop) { 
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 50px;
    margin-right: 20px;
    width: 499px;
   
    &__photo {
            max-height: 335px;
            max-width: 328px;
            border-radius: 50%;
        }
                                  &__after {
                                      margin-left: 200px;
                                  }
                                }
}



