.gradient-section {
    background-image: url(../images/background-gradient-section.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: scroll;
    position: relative;
    padding: 0 24px;

}