/* button */
.button {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--brend-color);
    border-radius: 32px;
    border: 2px solid var(--brend-color);
    font-weight: 600;
    cursor: pointer;
}

.button:hover {
    color: var(--color-primary-dark);
    background-color: transparent;
    border-radius: 32px;
    border: 2px solid var(--brend-color);
}

.button-modal {
    padding: 16px 32px;
    color: var(--color-primary-light);
    background-color: var(--brend-color);
    border-radius: 32px;
    border: 2px solid var(--brend-color);
    font-weight: 600;
    cursor: pointer;
}

.button-modal:hover {
    color: var(--color-primary-light);
    background-color: transparent;
    border-radius: 32px;
    border: 2px solid var(--brend-color);
    font-weight: 600;
}