/* Carusel */
.carusel-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--color-primary-dark);
    cursor: pointer;
    flex-shrink: 0;
}

.carusel-button:hover {
    background-color: var(--brend-color);
    stroke: var(--brend-color);
}

.carusel-button:hover .carusel-arrow {
    fill: var(--color-primary-light);
}

.carusel-arrow {
    fill: var(--color-primary-dark);
}
.carusel-button.next {
    transform: rotate(180deg);
}