/* link */
.link {
    color: var(--color-primary-dark);
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    transition: color 0.3s;
}

.link:hover {
    color: var(--brend-color);
    font-size: 18px;
    line-height: 1.5;
}